<mtapp:setting
    id="amazon_developer_key"
    label="<__trans phrase="Amazon Developer Key">"
    hint=""
    show_hint="0">
    <input type="text" name="amazon_developer_key" id="amazon_developer_key" value="<mt:var name="amazon_developer_key" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="max_rating"
    label="<__trans phrase="Maximum rating">"
    hint=""
    show_hint="0">
    <input type="text" name="max_rating" id="max_rating" value="<mt:var name="max_rating" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="rating_increment"
    label="<__trans phrase="Rating Increment">"
    hint=""
    show_hint="0">
    <input type="text" name="rating_increment" id="rating_increment" value="<mt:var name="rating_increment" escape="html">" />
</mtapp:setting>