<mtapp:setting
    id="amazon_developer_key"
    label="<__trans phrase="Amazon Developer Key">"
    hint=""
    show_hint="0">
    <input type="text" name="amazon_developer_key" id="amazon_developer_key" value="<mt:var name="amazon_developer_key" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="amazon_associate_tag"
    label="<__trans phrase="Amazon Associate Tag">"
    hint=""
    show_hint="0">
    <input type="text" name="amazon_associate_tag" id="amazon_associate_tag" value="<mt:var name="amazon_associate_tag" escape="html">" />
</mtapp:setting>

