<mtapp:setting
    id="amazon_developer_key"
    label="<__trans phrase="Amazon Developer Key">"
    hint=""
    show_hint="0">
    <input type="text" name="amazon_developer_key" id="amazon_developer_key" value="<TMPL_VAR NAME=amazon_developer_key ESCAPE=HTML>" />
</mtapp:setting>
