<mt:setvarblock name="page_title"><__trans phrase="Edit [_1]"  params="<$mt:var name="object_label"$>"></mt:setvarblock>

<mt:include name="include/header.tmpl">

<mt:include name="include/footer.tmpl">