<mt:setvarblock name="page_title"><__trans phrase="Manage [_1]" params="<$mt:var name="object_label_plural"$>"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript">
<!--

var tableSelect;
function init()
{
    tableSelect = new TC.TableSelect( "<mt:var name="object_type">-listing-table" );
    tableSelect.rowSelect = true;
}

TC.attachLoadEvent( init );
// -->
</script>

</mt:setvarblock>
<mt:setvarblock name="content_header">
    <mt:if name="amazon_developer_key"><p><a href='javascript:void(0)' onclick="openDialog(false, 'add_media', 'blog_id=<mt:var name="blog_id">'); return false;" class="icon-left icon-create"><__trans phrase="Add [_1]" params="<$mt:var name="object_label"$>"></a></p><mt:else><p>Please set the amazon developer key setting to enable media item adding.</p></mt:if>
</mt:setvarblock>
<mt:setvarblock name="action_buttons">
<a href="javascript:void(0)"
    onclick="doRemoveItems(getByID('<$mt:var name="object_type"$>-listing-form'), '<mt:var name="object_label" lower_case="1" escape="js">', '<mt:var name="object_label_plural" lower_case="1" escape="js">'); return false;"
    accesskey="x"
    title="<__trans phrase="Delete selected [_1] (x)" params="<mt:var name="object_label_plural">">"
    ><__trans phrase="Delete"></a>
</mt:setvarblock>
<mt:setvarblock name="related_content">
    <mtapp:widget
        id="quickfilters"
        label="<__trans phrase="Quickfilters">">
        <$mtapp:ListFilters$>
    </mtapp:widget>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<mtapp:listing>
    <mt:if __first__>
        <thead>
            <tr>
                <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
                <th></th>
                <th>Title</th>
                <th>Status</th>
                <th>Released</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
    </mt:if>
            <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if> template-<$mt:var name="template_type"$>">
                <td class="cb"><input type="checkbox" name="id" class="select" value="<mt:var name="id">" /></td>
                <td><img src="<mt:var name="thumb_url" escape="html">"/></td>
                <td><a href="<mt:var name="script_url">?__mode=view&amp;_type=<mt:var name="object_type">&amp;id=<mt:var name="id">&amp;blog_id=<mt:var name="blog_id">"><mt:var name="title" escape="html"></a></td>
                <td>
                    <mt:if name="status_1">To be consumed</mt:if>
                    <mt:if name="status_2">Consuming</mt:if>
                    <mt:if name="status_3">Consumed</mt:if>
                </td>
                <td><mt:var name="released_on_formatted"></td>
                <td class="status-view"><mt:if name="detail_url"><a href="<mt:var name="detail_url">" target="view_uploaded" title="<__trans phrase="View">"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="View">" width="13" height="9" /></a><mt:else>&nbsp;</mt:if></td>
                <td><a href="<mt:var name="script_url">?__mode=view&amp;_type=entry&amp;blog_id=<mt:var name="blog_id">&amp;reviewed_item_id=<mt:var name="id">&amp;title=<mt:var name="title" escape_url="1">">Review</a></td>
            </tr>
    <mt:if __last__>
        </tbody>
    </mt:if>
</mtapp:listing>


<mt:include name="include/footer.tmpl">
